# Database / PostGIS
DATABASE_URL=postgresql://ews_admin:ews_secure_password@localhost:5432/himalaya_ews

# Redis Queue
REDIS_URL=redis://localhost:6379/0

# Server API
PORT=4000
NODE_ENV=development

# Geospatial Ingestion
STAC_API_URL=https://planetarycomputer.microsoft.com/api/stac/v1
NASA_EARTHDATA_TOKEN=your_nasa_token_here

# Client
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
